@media screen and (max-width: 480px) {



  .loading-simulation img {
    display: block;
    width: 80vw;
    margin: auto;
    margin-top: 10%

  }

  hr {
    display: none;
  }

  body {
    margin-right: 0;
    max-width: 100%;
    background-color: white;
  }

  .horizontal-line {
    display: none;
  }

  /*  NAV */
  .undernav {
    width: 100%;
    height: 14vw;
    background-color: #eaeaea;
  }

  .hamburger {
    width: 83.91%;
  }

  .hamburger > .bar {
    background-color: black;
    width: 1.4vw;
    height: 1.4vw;
    margin: 0.53vw;
  }

  .navigator-design {
    background-color: white;
    width: 100%;
    margin-top: 0;
    z-index: -2;

  }

  .navigator-design img {
    display: none;
  }

  .navigator-design li a {
    color: black !important;
    font-size: 6vw;
    margin-left: 0;
  }

  /*  LANDING PAGE */
  .landing-page {
    height: fit-content;
    margin: 4vw;
  }

  #landing-distractor {
    display: none;
  }


  #landing-text {
    margin-top: 15vw;

  }

  #landing-text h1 {
    font-size: 5vw;
  }

  #landing-text h3 {
    color: #303030;
    font-size: 6vw;
  }

  #landing-text {
    width: 100%;
  }

  #landing-text p {
    color: black;
    font-size: 5vw;
    line-height: 7vw;

  }

  /*  BUTTONS */
  #landing-text .btn img {
    width: 6vw;
    height: 6vw;
    margin: auto;
    margin-top: 2vw;;
  }

  #landing-text .btn {
    background-color: #dddddd !important;
    border-radius: 10vw;
    width: 90%;
    height: 12vw;
    margin-top: 2vw;
  }
 /*  DEC */
 .decorating-section {
   object-fit: contain;
  height: fit-content;
   width: 100%;
}


  /*  SERVICES OFFERED */
  .services-offered {
    background-color: white;
  }
  .services-offered h1 {
    margin-top: 15vw;
    font-size: 5vw;
  }
  .services-offered p{
    margin: 5vw;
    margin-top: 5vw;
    font-size: 5vw;
    margin-bottom: 15vw;
  }

  .highlights-area {
    flex-flow: column;
  }

  .highlights-area > .highlights-items {
    background-color: #eaeaea;
    margin-top: 2vw;
    width: 85vw;
    height: 65vw;
    padding: 2vw;

  }

  .highlights-items > h1 {
    color: black;
    font-size: 5vw;
  }

  .highlights-items > p {
    color: black;
    font-size: 5vw;
  }

  /*  SKILLS */
  .skills {
    background-color: white;
    flex-direction: column;
    height: fit-content;
  }
  .skills h1 {
    font-size: 7vw;
    margin-bottom: 4vw;
    color: black;
  }

  .skills > .skill-item {
    background-color: white;
    background-image: none;
    margin: auto;
    width: 90vw;
    height: fit-content;
    margin-bottom: 6vw;
    border: none;
    margin-top: 1vw;
  }
  .skill-item img {
    display: none;
  }
  .skill-item > h2 {
    color: black !important;
    font-size: 5vw;
  }

  .skill-item:hover * {
    font-weight: normal;
    transition: none;
  }

  .skill-item > p {
    color: black !important;
    font-size: 5vw;
  }

  .skills > .skill-advert {
    margin: auto;
    width: 90vw;
    height: 55vw;
    margin-bottom: 6vw;
  }

  .skill-advert > h2 {
    font-size: 5vw;
  }

  .skill-advert > p {
    font-size: 5vw;
  }

  /* My Photography */
  .my-photography {
    flex-direction: column;
    margin: 1vw;
    text-align: left;

  }
  .my-photography .photography-text {
    width: 90%;
    height: 90%;
    background: none;
    color: black;
    font-size: 5vw;
  }
  .photography-text h1 {
    font-size: 5vw;
  }
  #photographyCarousel {
    width: 80%;
    height: fit-content;
  }


  /*  FOOTER */
  footer * {
    background-color: white !important;
    display: block;
    color: black;
    font-size: 3vw !important;
  }

  #sitemap {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    display: block;
    text-align: center;
    margin: auto;
  }

  #sitemap > #sitemap-links {
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
  }

  footer hr {
    display: none;
  }

  #text-footer {
    display: none;
  }
}
