@media screen and (min-width: 481px) and (max-width: 768px){

  .loading-simulation img {
    display: block;
    width: 50vw;
    margin: auto;
    margin-top: 10%

  }

    body {
      width: 90%;
      background-color: white;
    }
    .horizontal-line {
      display: none;
    }

    /*  NAV */
    .undernav {
      width: 100%;
      height: 12vw;
      background-color: #eaeaea;
    }
    .hamburger {
      margin-top: 2vw;
      width: 83.91%;
    }
    .hamburger > .bar {
      background-color: black;
      width: 1.4vw;
      height: 1.4vw;
      margin: 0.63vw;
    }
    .navigator-design {
      background-color: white;
      width: 100%;
      margin-top: 0;
      z-index: -2;

    }
    .navigator-design img {
      display: none;
    }
    .navigator-design li a {
      color: black !important;
      font-size: 6vw;
      margin-left: 0;
    }

    /*  LANDING PAGE */
    .landing-page {
      background: none;
      padding-bottom: 2vw;
    }
    #landing-distractor {
      display: none;
    }
    #landing-text {
      margin-top: 15vw;
    }
    #landing-text h1{
      font-size: 5vw;
    }
    #landing-text h3 {
      color: #303030;
      font-size: 6vw;
    }
    #landing-text {
      width: 100%;
    }
    #landing-text p {
      color: black;
      font-size: 5vw;
      line-height: 7vw;
    }

  /*  BUTTONS */

  #landing-buttons .btn img {
    width: 3vw;
    height: 3vw;
    margin: auto;
    margin-top: 2vw;
  ;
  }
  #landing-buttons .btn {
    background-color:#dddddd !important;
    border-radius: 10vw;
    width: 10vw;
    height: 10vw;
    margin-top: 2vw;
  }

  /*  SERVICES OFFERED */
  hr {
    display: none;
  }
  .services-offered {
    background-color: white;
  }
  .services-offered h1 {
    margin-top: 15vw;
    font-size: 5vw;
    text-align: left;
  }
  .services-offered p{
    text-align: left;
    margin: 1%;
    margin-top: 5vw;
    font-size: 5vw;
    margin-bottom: 15vw;
    width: 100%;
  }
  /*  SKILLS */
  .skills {
    display: grid;
    background-color: white;
    flex-direction: column;
    height: fit-content;
  }
  .skills h1 {
    color: black;
  }
  .skills > .skill-item {
    background-color: white;
    margin: auto;
    width: 90vw;
    height: 55vw;
    margin-bottom: 6vw;
    border: none;
  }
  .skill-item img {
    display: none;
  }
  .skill-item > h2 {
    color: black !important;
    font-size: 5vw;
  }
  .skill-item:hover * {
    font-weight: normal;
    transition: 0.5s;
  }
  .skill-item > p {
    color: black !important;
    font-size: 5vw;
  }
  .skills > .skill-advert {
    margin: auto;
    width: 90vw;
    height: 55vw;
    margin-bottom: 6vw;
  }
  .skill-advert > h2 {
    font-size: 5vw;
  }
  .skill-advert > p {
    font-size: 5vw;
  }
  /* Pick your poison - Pick Portfolio section */

  .pick-portfolio {
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  .pick-portfolio h1 {
    font-size: 5.3vw;
  }
  .pick-portfolio p {
    font-size: 4vw;
  }
  .port-option {
    width: 10vw;
    height: 10vw;
  }
  .port-folder .project {
    width: 45vw;
    height: 45vw;
  }
  .portfolio-picker {
    padding-bottom: 3vw;
  }
  .project .hover-setup {
    opacity: 1;
  }
  .pick-portfolio {
    background-color: #fbfbfb;
  }
  .port-folder {
    padding: 3vw;
  }









  /*  FOOTER */
  footer * {
    background-color: white !important;
    display: block;
    color: black;
    font-size: 3vw !important;
  }
  #sitemap {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    display: block;
    text-align: center;
    margin: auto;
  }
  #sitemap > #sitemap-links {
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
  }
  footer hr {
    display: none;
  }
  #text-footer {
    display: none;
  }
}
