/* Video stuff */
.video-wrapper{
  position: absolute;
  top: 0;
  z-index: -1;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}
.landing-video {
  min-width: 110%;
  min-height: 110%;
  object-fit: cover;
}
.overlapper-landingvideo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgb(0,0,0, 0.5)

}

  /* Basic */
body {
  overflow-x: hidden;
  background: #131313;
  font-family: 'Inter', serif;
  font-weight: 200;
  max-width: 100%;
  margin: auto;
}
a {
  color: white;
}
a:hover {
  color: crimson;
  text-decoration: none;
  transition: 0.5s;

}
/* Keyframes */
@keyframes opacity-increase {
  from{margin-left: -10%; opacity: 0}
  to {margin-left: 0; opacity: 1}
}

/* Special Elements */
.horizontal-line {
  margin-top: 2vw;
  width: 30%;
  height: 0.5vw;
  border-bottom: crimson 0.2vw solid;
  margin-bottom: 1vw;

}
.background-rectangle {
  margin-top: -17%;
  position: absolute;
  z-index: -1;
  width: 90%;
  left: 46vw;
  background-color: #000000;
  rotate: -60deg;
  overflow: hidden;
}
/* Header & Nav */
nav {
  position: fixed;
  background-color: black;
  z-index: 2;
  width: 10%;
}

.navigator-design:active li {
  opacity: 1;
  display: block;
}
.hamburger:active .bar{
  background-color: crimson;

}

.undernav {
  color: white;
  font-weight: lighter;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 5vw;
  background-color: #222222;
  z-index: -1;
}
.undernav ul {
  margin-top: 1vw;
}
.undernav img {
  width: 3%;
  margin-right: 1vw;
}
.undernav li {
  display: inline;
  font-size: 2vw;
  margin: 1.5vw;
  margin-left: 10vw;
}
.navigator-design {
  position: fixed;
  top: 5vw;
  left: -100vw;
  background-color: black;
  width: 10vw;
  height: 100%;
  z-index: 0;
  transition: 0.5s;
}
.navigator-design.active {
  left: 0;
}
.navigator-design li {
  text-align: left;
  margin-top: 5vw;
  font-size: 1.3vw;
  color: white;
  display: inline-block;
}

.navigator-design li:hover {


}
.navigator-design li:active{
  border-bottom: 0.2vw solid #cccccc;
}

.contact {
}


.logo {
  font-weight: bold;
  margin-top: 0.4vw !important;
  margin-right: 44% !important;
  font-size: 2vw !important;
}
.logo:hover {
  border: none !important;
}
.logo img {
  margin-right: 1vw;
  width: 2.2vw;
  height: 2.2vw;
}
.hamburger {
  margin: auto;
  margin-top: 1vw;
  width: 33.3%;
  display: flex;
  flex-wrap: wrap;
  transition: 2s;


}
.hamburger > .bar {
  margin-top: 0.5vw;
  margin-left: 0.5vw;
  border-radius: 10vw;
  height: 0.5vw;
  background-color: white;
  width: 0.5vw;
}
/* Landing Page */

.landing-page {
  height: 85vh;
  display: block;
  margin-bottom: 1vw;
  overflow: hidden;
}
#landing-div {
  margin: 1vw;
  padding-top: 4vw;
  margin-top: 4vw;
}
#landing-text {
  width: 35%;
  margin-left: 2vw;
  float: left;
}
#landing-text p {
  margin-top: 2vw;
  font-size: 1.5vw;
  line-height: 2.8vw;
  margin-bottom: 2vw;
  color: #cccccc;
}
#landing-text h1 {
  color: crimson;
  font-weight: 800;
  font-size: 1.4vw;
}
#landing-text h3 {
  color: #cccccc;
  font-size: 2.6vw;
  font-weight: 600;
}
.btn img {
  margin: auto;
  height: 10%;
  margin-left: 0.5vw;
}
.btn {
  margin: auto;
  padding: 0.8vw;
  font-size: 1vw;
  background-color: black !important;
  border: none;
  border-radius: 0;
}
.btn:hover {
  background-color: crimson !important;
}
.btn *{
  margin: auto;
}
.btn img {
  width: 1.5vw;
  margin-right: 0.6vw;
  margin-bottom: 0.2vw;
}
#landing-distractor {
  position: absolute;
  top: 5vw;
  right: 13vw;
  z-index: -1;
  margin: auto;
}

/* Services Section */

.services-offered {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
}
.services-offered h1 {
  padding: 2vw;
  text-align: center;
  display: block;
  color: white;
  font-weight: bold;
  font-size: 2.5vw;
}
.highlights-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.highlights-area > .highlights-items {
  margin-left: 1vw;
  height: 25vw;
  width: 20vw;
  background-color: rgba(1,1,1,0.8);
  margin-bottom: 5vw;
}
.highlights-items > img {
  height: 8vw;
  width: 8vw;
  margin: 1vw;
}
.highlights-items > h1 {
  text-align: left;
  color: white;
  font-size: 2vw;
  margin-left: -1vw;
}
.highlights-items > p {
  color: white;
  margin: 1vw;
  margin-top: -1vw;
  font-size: 1vw;
}
