/* Transition */
 #transition {
  width: 200vw;
  height: 200vw;
  position: fixed;
  background-color: crimson;
  border-radius: 50%;
  transform: translate(-50%, 0);
  left: 50%;
  top: -200vw;
  z-index: 9999;
 }
 #transition.active {
  top:-100vw;
  transition: 0.5s ease-in-out;
 }
/* Video stuff */
.video-wrapper{
  position: absolute;
  top: 0;
  z-index: -1;
  min-width: 100vw;
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
}
.landing-video {
  min-width: 110%;
  min-height: 110%;
  object-fit: cover;
}
.overlapper-landingvideo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgb(0,0,0, 0.5)

}

  /* Basic */
::-webkit-scrollbar {
  background: white;
}
::-webkit-scrollbar-button {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: crimson;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
}
html {
  scroll-behavior: smooth;
}
b {
  color: crimson;
}
.hidden {
  visibility: hidden;
  display: block !important;
  opacity: 0;
  animation: slideFromLeft 0.5s;
}
.show {
  visibility: visible;
  display: block !important;
  opacity: 1;
  animation: slideFromLeft 0.5s;
}
@keyframes slideFromLeft {
  from {margin-right:-100vw;}
  to {margin-right:0;}
}
@keyframes slideIn {
  from {margin-left:-100vw; opacity:  0;}
  to {margin-right:0; opacity: 1}
}
::selection {
  background-color: crimson;
  color: white;
}
::-moz-selection{
  background-color: crimson;
  color: white;
}
.btn:hover {
  background-color: crimson;
  color: white;
}
body {
  overflow-x: hidden;
  background: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 200;
  max-width: 100%;
  margin: auto;
}
a {
  color: white;
}
a:hover {
  color: crimson;
  text-decoration: none;
  transition: 0.5s;

}
hr {
  border-color: #222222;
  width: 50%;
  margin: auto;
  padding: 3vw;
}
.call-to-action {
  background-color: crimson;
}
.call-to-action:hover {
  background-color: black;
}
.skiptranslate{
  top: 10% !important;
  box-shadow: none !important;
  border: none !important;
}

/* Keyframes */
@keyframes loadingFade {
  from{opacity: 1; visibility: visible;}
  to {opacity: 0; visibility: hidden;}
}
@keyframes opacity-increase {
  from{margin-left: -10%; opacity: 0}
  to {margin-left: 0; opacity: 1;}
}
@keyframes fadeIn  {
  from { opacity: 0}
  to { opacity: 1}
}

/* Special Elements */

.loading-simulation {
  top:0;
  left:0;
  z-index: 999999;
  background-color: white;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  position: fixed;
  animation: 1s forwards ease-out loadingFade;
  animation-delay: 1s;
}
.loading-simulation::before {
  display: block;
  visibility: visible;
}
.loading-simulation img {
  display: block;
  width: 20vw;
  margin: auto;
  margin-top: 10%

}
.horizontal-line {
  margin-top: 2vw;
  width: 30%;
  height: 0.5vw;
  border-bottom: crimson 0.2vw solid;
  margin-bottom: 1vw;

}
.background-rectangle {
  margin-top: -17%;
  position: absolute;
  z-index: -1;
  width: 90%;
  left: 46vw;
  background-color: #000000;
  rotate: -60deg;
  overflow: hidden;
}
/* Header & Nav */
nav {
  display: grid !important;
  grid-auto-flow: column;
  grid-gap: 10%;
  top: 0;
  position: fixed;
  z-index: 2;
  width: 13%;
  height: 10%;
}
.nav-item a {
  color: black;
}
.navigator-design:active li {
  opacity: 1;
  display: block;
}
.hamburger img {
  width: 100%;
  height: 100%;
}
div.hamburger img {
  transition: 1s;
}
div.hamburger.active img {
  filter: saturate(0)brightness(0);
  transition: 1s;
}

.undernav {
  color: white;
  font-weight: lighter;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 11vh;
  background-color: white;
  z-index: -1;
}
.undernav ul {
  margin-top: 1vw;
}
.undernav img {
  width: 3%;
  margin-right: 1vw;
}
.undernav li {
  display: inline;
  font-size: 2vw;
  margin: 1.5vw;
  margin-left: 10vw;
}
.navigator-design {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  left: -110%;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: -3;
  transition: 0.5s;
  border-right: rgba(255, 255, 255, 0.25) 1px solid;
}
.navigator-design.active {
  left: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.navigator-design li {
  text-align: left;
  margin-top: 5vw;
  font-size: 1.5em;
  color: black;
  display: inline-block;
}
.navigator-design li a {
  text-decoration: none;
}
.navigator-design img {
  width: 2%;
  margin-right: 3vw;
}

.navigator-design li:active{
  color: crimson;
  transition: 1s;
}

.contact {
}


.logo {
  font-weight: bold;
  margin-top: 0.4vw !important;
  margin-right: 44% !important;
  font-size: 2vw !important;
}
.logo:hover {
  border: none !important;
}
.logo img {
  margin-right: 1vw;
  width: 2.2vw;
  height: 2.2vw;
}
.hamburger {
  margin: auto;
  width: 50%;
  display: flex;
  flex-wrap: wrap;


}

/* Distraction Image Sections */
.decorating-section {
  width: 100%;
  height: 30vh;
  overflow: hidden;

}
.decorating-section img {
  filter: saturate(0%);
  max-width: 100%;
}


/* Landing Page */

.landing-page {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to left,#f1f1f1 50%, crimson 50%) right;
  background-size: 200% 100%;
  transition: 2s;
}
.altered {
  background-position: left;
  transition: all 2s linear;
}
.altered ::selection {
  background-color: white;
}
.altered p {
  color: white !important;
}
.altered b {
  color: #222222 !important;
}
.altered .btn {
  background-color: white !important;
}
.altered .btn img {
  filter: invert(100%);
}
.altered .btn:hover {
  background-color: #d0d0d0 !important;
}
.altered .btn:hover img {
}
#landing-div {
  display: grid;
  justify-items: center;
  margin: 1vw;
  padding-top: 4vw;
  margin-top: 4vw;
}
#landing-text {
  width: 100%;
  margin-left: 2vw;
  float: left;
  opacity: 0;
  animation: forwards fadeIn 2s;
  animation-delay: 2s;
}
#landing-text p {
  text-align: center;
  width: 60%;
  margin: auto;
  line-height: 1em;
  font-size: 3em;
  color: #474747;
  font-weight: 600;
}
#landing-text h1 {
  color: crimson;
  font-weight: 800;
  font-size: 1.5em;
}
#landing-text h3 {
  color: crimson;
  font-size: 1.5em;
  font-weight: 600;
}
#landing-buttons {
  margin-top: 2vw;
  animation: slideIn forwards 2s;
  opacity: 0;
  animation-delay: 3.5s;
}
#landing-buttons .btn {
  box-shadow: none;
  margin: auto;
  padding: 0.8vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1em;
  background-color: crimson;
  border: none;
  border-radius: 0;
}
#landing-buttons .btn:hover {
  background-color: rgb(218, 218, 218);
}
#landing-buttons .btn:hover img {
  filter: invert(100%);
}
.btn:hover * {
  transition: 1s;
}
#landing-buttons .btn *{
  margin: auto;
}
#landing-buttons .btn img {
  width: 1vw;
  height: 1vw;

}
/* Introduction at Landing page */
.introduction {
  border-top: #f1f1f1 2vw solid;
  padding-top: 5%;
  padding-bottom: 5%;
  display: grid;
  grid-auto-flow: column;
  align-items: start;
}
.introduction > .left {
  height: 100%;
  display: grid;

}
.introduction > .left h3 {
  text-align: left;
  width: 80%;
  margin-left: 20%;
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 1em;
  border-bottom: 2px crimson solid;
}
.introduction > .right {
  height: 100%;
}

.introduction > .right p {
  width: 70%;
  margin-left: 20%;
  font-size: 1.1em;
}


/* Services Section */

.services-offered {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.services-offered > p {
  color: #272727;
  text-align: center;
  margin: auto auto 2vw auto;
  font-size: 1em;
  width: 50%;
}
.services-offered .call-to-action {
  display: block;
  background-color: crimson;
  color: white;
  margin: auto;
  border: none;
  padding: 1vw;
  border-radius: 0.1vw;
}
.services-offered .call-to-action:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}
.services-offered h1 {
  margin: 3vw 1vw 1vw 1vw;
  text-align: center;
  display: block;
  color: #272727;
  font-weight: bold;
  font-size: 1.3em;

}
/* Pick your poison - Pick Portfolio section */
.pick-portfolio {
  display: block;
  position: relative;
  height: fit-content;
  padding-bottom: 2vh;
}
.pick-portfolio h1 {
  text-align: center;
  display: block;
  color: #272727;
  font-weight: bold;
  font-size: 1em;

}
.pick-portfolio p {
  text-align: center;
  display: block;
  color: #6e6e6e;
  font-size: 1em;

}
.pick-portfolio h3{
  font-size: 1em;
}
.portfolio-picker {
  width: 100%;
  background-color: white;
}
.pick-portfolio .widgets {
  width: 100vw;
  height: 100vh;
  padding-left: 2vw;
  margin: 5vh 1vw 5vh auto;
  background-color: #F8F8F8;
  display: table-cell;
  position: relative;
}
.project-skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-auto-flow: column;
  list-style-type: none;
  padding: 0;
}
.project-skills > li {
  list-style: none;
  padding: 5px;
  background-color: black;
  color: white;
  font-size: .75em;
  margin: 1%;
}
.port-option {
  width: 20%;
  padding: 2vw;
  display: flex;
  color: #333333;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  margin-left: 1vw;
  border-bottom: 3px solid #d1d1d1;
}
.port-option a{
  display: block;
  margin-left: 1vw;
  color: inherit;
  white-space: nowrap;
  font-weight: bolder;
}

.portfolio-picker .contents {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.port-option img {
  display: block;
  width: 10%;
  filter: saturate(0);
}
.port-option:hover {
  background-color: #fafafa;
  border-bottom: 3px solid #d1d1d1;
  transition: 1s;
}
.port-option:hover img{
  filter: invert(50%);
  transition: all 0.5s;
}

.port-option:focus{
  background-color: #ededed;
  border-radius: 3px;
  border-bottom: 3px solid crimson;
  transition: 3s;
}
.port-option.focus{
  background-color: #ededed;
  border-radius: 3px;
  border-bottom: 3px solid crimson;
}
.port-option:focus img {
  filter: saturate(100%);
  transition: 0.5s;
}

.port-folder {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-wrap:wrap;
}
/* Pastas do Portfolio */
.port-folder .project {
  position: relative;
  background-color: #e1e1e1;
  width: 20vw;
  height: 20vw;
  object-fit: contain;
  margin-left: 2vw;
  margin: 1vw;
  overflow: hidden;
}
.port-folder .project img {
  transition: 1s;
  opacity: 1;
}
.port-folder .project:hover img {
  opacity: 0;
}

.project:hover .hover-setup {
  opacity: 1;
  left:0;
  transition: 0.6s;
}
.project:hover {
  background-color: white;
  transition: .5s;
}


.project:active .hover-setup {
  background-color: rgba(255,255,255,0.8);
}
.port-folder .project img {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hover-setup {
  background-color: white;
  color: black;
  opacity: 0;
  font-weight: bolder;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: -100%;
}
.hover-setup p {
  color: #383838;
  text-align: left;
}
.hover-setup * {
  margin: 1vw;
  margin-bottom: 0;
}
/* Aesthetical Distraction */
.aesthetical-distraction {
  background-color: crimson;
  width: 100%;
  height: 1vh;
  overflow: hidden;
}
/* Skills */

.skills {
  padding: 10vh;
  background-color: white;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: fit-content;

}
.skills > h1 {
  color: #101010;
  text-align: center;
  display: block;
  width: 100%;
  margin: 1vw;
  margin-bottom: 5%;
}
.skills > p {
  font-size: 1em;
  text-align: center;
  width: 100%;
  margin-bottom: 4vw;
  color: #6e6e6e;
}
.skills > .skill-item {
  transition: all 0.5s ease;
  background-image: linear-gradient(60deg, white, #fbfbfb);
  margin: 1vw;
  width: 230px;
  height: 260px;
  padding-bottom: 10%;
  overflow: hidden;

}
.skill-item img {
  filter: saturate(0%);
  width: 2em;
  margin-left: 0.7vw;
}
.skill-item > h2 {
  padding: 0;
  margin: 1vw;
  text-align: left;
  color: black;
  font-size: 1.5em;
  font-weight: bolder;
}
.skill-item > p {
  color: black;
  font-size: 1em;
  margin: 1vw;
}

.skill-item:hover * {
  border-color: crimson;
  color: black;
  transition: all 1s ease-out;
}
.skill-item:hover h2 {
  color: crimson;
}
.skill-item:hover img {
  width: 2.6em;
  filter: none;

}
.skills > .skill-advert {
  background-color: #f6f6f6;
  margin: 1vw;
  width: 20vw;
  height: 13vw;
  overflow: hidden;
}
.skill-advert > h2 {
  margin: 1vw;
  text-align: left;
  color: black;
  font-size: 1.5em;
  border-bottom: 2px crimson solid;
  padding-bottom: 1vw;
}
.skill-advert > p {
  color: black;
  font-size: 1em;
  margin: 1vw;
}
.skill-advert a {
  color: crimson;
}

/* Blog post behaviour */
.posts {
  display: grid;
  padding-bottom: 4vw;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit,50%);
}
.posts .post {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-auto-flow: column;
  align-items: start;
  margin: 2vw;
}
.posts .post .intro {
  margin-right: 2vw;
  color: black;
  font-size: 1.5em;
  text-align: left;
}
.post .intro p {
  line-height: 3vw;
}
.post .intro a {
  color: rgb(37, 37, 37);
}
.post .intro h1 {
  margin: 0;
  margin-bottom: 1vw;
  font-size: 1.5em;
}
.post .intro h2 {
  margin: 0;
  font-size: 3em !important;
}
.post .intro a:hover {
  color: crimson;
}
.post .image {
  display: grid;
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  object-fit: contain;
  justify-items: center;
  justify-content: center;
  align-content: center;
}
.post .image img {
  width: 100%;
}


/* Footer */

footer {
  width: 100%;
}
#sitemap {
  display: table-cell;
  margin-top: 1%;
  width: 40%;
  margin-left: 10%;
  height: 100%;
}
#sitemap > #sitemap-links{
  display: table-cell;
}
#sitemap-links > li {
  font-weight: bolder;
  margin-top: 1vw;
  list-style: none;
  font-size: 1em;
}
#text-footer {
	display: grid;
	width: 100%;
	/* height: 90%; */
	background-color: white;
	font-size: 1em;
	color: #4d4d4d;
}
#text-footer > p {
  font-size: 1em;
  text-align: right;
  color: white;
  margin: 10%;
}
footer > #bottom {
  width: 100%;
}
#copyright {
  text-align: center;
  margin: auto;
  font-size: 18px;
  color: black;
}
#copyright a {
  color: crimson;
}
