
body * {
    font-family: 'Inter';
}
h1 {
    font-size: 1.5em;
    margin-bottom: .6em;
    font-weight: 700;
}
/* ANIMATION AND TRANSITION STATEMENTS */

.introduction {
    animation: fadeIn 2s forwards both;
    animation-delay: 1.5s;
}
.introduction img {
    animation: expandIn both 1s;
    animation-delay: 2s;
}
@keyframes expandIn{
    from{width: 0%;}
    to{width: 60%;}
}
@keyframes fadeIn{
    from{opacity:0;}
    to{opacity: 1;}
}

/* INTRODUCTION */
.introduction {
	border-top: #f1f1f1 2vw solid;
	/* padding-top: 12%; */
	/* padding-bottom: 5%; */
	display: grid;
	grid-auto-flow: column;
	align-items: start;
	font-size: 2.5em;
}
.introduction div {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    grid-auto-flow: column;
    width: 100%;
    text-align: left;
}
.introduction h1 {
    width: 80%;
    padding-bottom: .1em;
    color: crimson;
    border-bottom: .1em solid crimson;
}
.introduction p {
    width: 50%;
    font-size: .6em;
    color: rgb(66, 66, 66);
    font-weight: 300;
}
.introduction p b,u {
    font-size: inherit;
}
.introduction img {
}
/* FEATURED */
.wiki-featured {
  display: grid;
  grid-auto-flow: column;
  margin: 2%;
  background-color: #f1f1f1 ;
  width: 90%;
  height: 40%;
}
.featured-item {
  width: 95%;
  height: 95%;
}
.featured-item h1 {
  width: 100%;
  text-align: center;
  color: white;
  background-color: crimson;
  padding: 1%;
  margin: 0;
}
