@media screen and (min-width: 481px) and (max-width: 768px){

  .loading-simulation img {
    display: block;
    width: 50vw;
    margin: auto;
    margin-top: 10%

  }

    body {
      background-color: white;
    }
    .horizontal-line {
      display: none;
    }

    /*  NAV */
    nav {
      grid-gap: 10%;
      width: 20%;
    }
    .undernav {
      width: 100%;
    }
    .hamburger {
      margin-left: 1em;
      width: 100%;
    }
    div.hamburger img {
      width: 20%;
      filter: saturate(0)brightness(0)invert(1);
    }
    div.hamburger.active img {
      filter: saturate(0)brightness(0);
    }
    .navigator-design {
      background-color: white;
      width: 100%;
      margin-top: 0;
      z-index: -2;

    }
    .navigator-design img {
      display: none;
    }
    .navigator-design li a {
      color: black !important;
      font-size: 6vw;
      margin-left: 0;
    }

    /*  LANDING PAGE */
    .landing-page {
      width: 90%;
      padding-bottom: 2vw;
    }
    #landing-buttons .btn img {
      width: 40%;
      margin-bottom: 5%;

    }
  #landing-div {
    display: flex;
    justify-items: start;
    margin: 1vw;
    grid-auto-flow: column;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 5%;
  }
  #landing-div span {
    display: block;
    font-size: .9em;
    line-height: 2em;
    margin: 5%;
    width: 100%;
  }
  #landing-div .col-2 {
    width: 90%;
  }
    #landing-distractor {
      display: none;
    }
    #landing-text {
      width: 50%;
      margin-top: 15vw;
    }
    #landing-text h1{
      font-size: 5vw;
    }
    #landing-text h3 {
      color: #303030;
      font-size: 6vw;
    }
    #landing-text {
      width: 100%;
    }
  #landing-text p {
    color: black;
    font-size: 2em;
    /* line-height: 7vw; */
    padding-bottom: 5vw;
    width: 70%;
  }

  /*  BUTTONS */

  /*  SERVICES OFFERED */
  hr {
    display: none;
  }
  .services-offered {
    background-color: white;
  }
  .services-offered h1 {
    margin-top: 15vw;
    font-size: 5vw;
    text-align: left;
  }
  .services-offered p{
    text-align: left;
    margin: 1%;
    margin-top: 5vw;
    font-size: 5vw;
    margin-bottom: 15vw;
    width: 100%;
  }
  /*  SKILLS */
  .skills {
    display: grid;
    background-color: white;
    flex-direction: column;
    height: fit-content;
  }
  .skills h1 {
    color: black;
  }
  .skills > p {
    font-size: 4vw;
  }
  .skills > .skill-item {
    background-color: white;
    margin: auto;
    width: 90vw;
    height: 55vw;
    margin-bottom: 6vw;
    border: none;
  }
  .skill-item img {
    display: none;
  }
  .skill-item > h2 {
    color: black !important;
    font-size: 5vw;
  }
  .skill-item:hover * {
    font-weight: normal;
    transition: 0.5s;
  }
  .skill-item > p {
    color: black !important;
    font-size: 5vw;
  }
  .skills > .skill-advert {
    margin: auto;
    width: 90vw;
    height: 55vw;
    margin-bottom: 6vw;
  }
  .skill-advert > h2 {
    font-size: 5vw;
  }
  .skill-advert > p {
    font-size: 5vw;
  }
  /* Pick your poison - Pick Portfolio section */

  .pick-portfolio {
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  .pick-portfolio h1 {
    font-size: 5.3vw;
  }
  .pick-portfolio h3{
    font-size: 4vw;
  }
  .pick-portfolio p {
    font-size: 4vw;
  }
  .port-option {
    width: 50%;
    margin-left: 2vw;
  }
  .port-option img {
    width: 50%;
  }
  .port-option a {
    display: none;
  }
  .port-folder .project {
    width: 50vw;
    height: 50vw;
  }
  .port-folder .project  img{
    display: none;
  }
  .hover-setup {
    left: 0;
  }

  .portfolio-picker {
    padding-bottom: 3vw;
  }
  .project .hover-setup {
    opacity: 1 !important;
  }

  .pick-portfolio {
    background-color: #fbfbfb;
  }
  .port-folder {
    padding: 3vw;
  }

  /* Blog */
  .posts .post .intro {
    font-size: 2vw;
  }
  .post .intro p {
    line-height: 3vw;
  }
  .post .intro h1 {
    font-size: 2vw;
  }
  .post .intro h2 {
    margin: 0;
    font-size: 3vw !important;
  }







  /*  FOOTER */
  footer * {
    background-color: white !important;
    display: block;
    color: black;
    font-size: 3vw !important;
  }
  #sitemap {
    overflow: hidden;
    width: 100%;
    height: fit-content;
    display: block;
    text-align: center;
    margin: auto;
  }
  #sitemap > #sitemap-links {
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
  }
  footer hr {
    display: none;
  }
  #text-footer {
    display: none;
  }
}
