<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/480.css">
    <link rel="stylesheet" href="../css/768.css">
    <link rel="stylesheet" href="../css/1024.css">
    <link rel="stylesheet" href="../css/1200.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>
  <div class="loading-simulation">
    <img src="../img/crimsonanimation.gif" alt="A logo that is a graph with circles around">
  </div>
  <body>
    <header>
      <nav>
        <div class="hamburger">
          <img src="../img/hamburger.svg" alt="Hamburger Menu">
        </div>
        <img class="hamburger flag" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Flag_of_the_United_States_%28DoS_ECA_Color_Standard%29.svg/1920px-Flag_of_the_United_States_%28DoS_ECA_Color_Standard%29.svg.png" alt="English - US FLAG">
        <div class="undernav">
        </div>
        <ul class="navigator-design">
          <li class="nav-item"><a href="/">home</a></li>
          <li class="nav-item"><a href="#">blog</a></li>
          <li class="nav-item contact"><a>contact</a></li>
        </ul>
      </nav>
      <div id="transl">
      <div id="google_translate_element"></div>
    </div>
    </header>

    <div id="main" role="main">
      {{ content }}
    </div>

    <footer>
      </section>
      <section id="bottom">
        <p id="copyright">
          © 2024 João Luis Almeida (Lyszt Kaldwin, Deestad, Aldynor, Ryujinni). All Rights Reserved.
          Powered by Lygon Xin. Stock images from <a href="https://www.freepik.com">Freepik.</a>
        </p>
      </section>
    </footer>

    {% include analytics.html %}
    <script src="../js/app.js"></script>
    <script type="module" src="js/translator.js"> </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> 
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'auto',  includedLanguages : 'pt,fr,en,de,ja,zh'}, 'google_translate_element');
      }
      </script> 
  </body>
</html>
