<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta.html %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/assets/favicon/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/assets/favicon/icon.png">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="stylesheet" href="/assets/css/480.css">
    <link rel="stylesheet" href="/assets/css/768.css">
    <link rel="stylesheet" href="/assets/css/1024.css">
    <link rel="stylesheet" href="/assets/css/1200.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>
  <div class="loading-simulation">
    <img src="/assets/img/crimsonanimation.gif" alt="A logo that is a graph with circles around">
  </div>
  <body>
    <header>
      <nav>
        <div class="hamburger">
          <img src="/assets/img/hamburger.svg" alt="Hamburger Menu">
        </div>
        <div class="undernav">
        </div>
        <div class="side-nav">
          <div id="landing-buttons">
            <a href="https://github.com/lyszt" target="_blank" class="btn btn-secondary btn-lg active" role="button"
               aria-pressed="true" title="GitHub"><img src="/assets/img/github-mark.svg" alt="Github Icon"></a>
            <a href="https://www.linkedin.com/in/lyszt/" target="_blank" title="LinkedIn" class="btn btn-secondary btn-lg active"
               role="button" aria-pressed="true"><img src="/assets/img/linkedin.svg" alt="LinkedIn Icon"></a>
            <a href="https://www.instagram.com/kaldwin__/" title="Instagram" target="_blank" class="btn btn-secondary btn-lg active"
               role="button" aria-pressed="true"><img src="/assets/img/instagram.svg" alt="Instagram Icon"></a>
            <a href="mailto:jluis.kaldwin@gmail.com" title="E-mail" class="btn btn-secondary btn-lg active" role="button"
               aria-pressed="true"><img src="/assets/img/email.svg" alt="Email Icon"></a>
            <a class="btn btn-secondary btn-lg active cv" target="_blank" title="CV (Curriculum)"
               href="https://drive.google.com/file/d/1yEAZPgopRYWOElEYl4y3Mi0A1oyE5U2D/view?usp=sharing"
               aria-pressed="true"><img src="/assets/img/cv.svg" alt="Curriculum Vitae"></a>
          </div>
        </div>
        <ul class="navigator-design">
          <li class="nav-item"><a href="https://lyszt.net">homepage</a></li>
          <li class="nav-item contact"><a href="http://eepurl.com/i4J_XA">contact</a></li>
        </ul>
      </nav>
      <div id="google_translate_element"></div>
    </header>

    <div id="main" role="main">
      {{ content }}
    </div>


    {% include analytics.html %}
    <script src="/assets/js/app.js"></script>
    <script type="module" src="/assets/js/translator.js"> </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en',  includedLanguages : 'pt,fr,de,ja,zh'}, 'google_translate_element');
      }
    </script>
  </body>
</html>
