---
layout: default
---
<head>
  <link rel="stylesheet" href="../css/style.css">
  <!-- Blog-related CSS -->
  <link rel="stylesheet" href="../css/blogs/default.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>{{site.title}}</title>
  <meta name="description" content="{{site.intro}}">
  <meta name="robots" content="index,follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Lyszt Kaldwin" />
  <meta name="copyright" content="Lygon Xin"/>
  <meta property="og:title" content="LYSZT: My work in {{site.title}}">
  <meta property="og:description" content="Skilled Developer & Designer. Discover recent projects and learn about João's experience in the tech industry. Powered by Lygon Xin.">
  <meta property="og:url" content="https://lyszt.github.io/">
  <meta property="og:image" content="https://i.imgur.com/XE0vWOA.png">
  <meta charset="utf-8">
  <meta lang="en">
  <link rel="canonical" href="https://lyszt.github.io/" />

</head>

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="entry">
    <div class="header">
      {% if page.author %}<div class="author">{{page.author}}</div>{% endif %}

      <div class="date">
        Built around {{ page.date | date: "%B %e, %Y" }}
      </div>
    </div>
    {{ content }}
    <a href="{{page.refer}}"><button class="btn btn-secondary">See more</button></a>

  </div>



  {% include disqus.html %}
</article>
</main>
