a {
  text-decoration: none;
}
::selection {
  background-color: crimson;
}
body {
  font-family: 'Inter', serif;
  display: grid;
  justify-items: center;
  justify-content: center;
}
#main {
  margin: 10vw
}
header {
  position: fixed;
  top: 0;
  left: 0;
}
.post .header {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  align-items: center;
  justify-content: start;
}
.header * {
  margin-right: 2vw;
}
.header .author {
  padding: 1vw;
  background-color: black;
  color: white;
}
/* TITLE */
h1 {
  font-size: 3vw;
  font-weight: bold;
}
/* SUBTITLE */
h2 {
  font-size: 2vw;
  color: #101010;

}
.post .entry {
  font-size: 1.5vw;
  line-height: 2.5vw;
  text-align: left;
}
.post .entry a {
  color: black;
}

/* Header & Nav */
nav {
  position: fixed;
  z-index: 2;
  width: 10%;
}
/* Distraction Image Sections */
.decorating-section {
  width: 100%;
  height: 30vh;
  overflow: hidden;

}
.decorating-section img {
  filter: saturate(0%);
  max-width: 100%;
}

@media screen and (max-width: 480px){
  #main {
    margin: 20% 0 0;
  }
  h1 {
    font-size: 5vw;
    font-weight: bold;
  }
  /* SUBTITLE */
  h2 {
    font-size: 4vw;
    color: #101010;

  }
  .post .entry {
    font-size: 4vw;
    line-height: normal;
  }

}
@media screen and (min-width: 481px) and (max-width: 768px){
  #main {
    margin: 20% 0 0;
  }
  h1 {
    font-size: 5vw;
    font-weight: bold;
  }
  h2 {
    font-size: 4vw;
    color: #101010;

  }
  .post .entry {
    font-size: 4vw;
    line-height: normal;
  }





}
@media screen and (min-width: 769px) and (max-width: 1024px){
  #main {
    margin: 20% 0 0;
  }
  h1 {
    font-size: 5vw;
    font-weight: bold;
    line-height: normal;
  }
  h2 {
    font-size: 4vw;
    color: #101010;
  }
  .post .entry {
    font-size: 4vw;
    line-height: normal;
  }

}
