a {
  text-decoration: none;
}
::selection {
  background-color: crimson;
}
body {
  font-family: 'Inter', serif;
  display: grid;
  justify-items: center;
  justify-content: center;
}
#main {
  margin: 10vw
}
header {
  position: fixed;
  top: 0;
  left: 0;
}
.post .header {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  align-items: center;
  justify-content: start;
}
.header * {
  margin-right: 2vw;
}
.header .author {
  padding: 1vw;
  background-color: black;
  color: white;
}
/* TITLE */
h1 {
  font-size: 2em;
  line-height: normal;
  margin-bottom: 0;
}
h2 {
  font-weight: normal;
  font-size: 1.5em;
  color: #7d7d7d;
  margin-top: 0;
}
.post .entry {
  font-weight: normal;
  font-size: 1.2em;
  line-height: 2em;
}
.post .entry a {
  color: black;
}
.post > img {
  width: 80%;
}
.post.entry img{
  width: 30%;
  margin-left: 1px;
}
.entry > p > img {
  width: 30%;
}
/* Header & Nav */
nav {
  position: fixed;
  z-index: 2;
  width: 10%;
}
/* Distraction Image Sections */
.decorating-section {
  width: 100%;
  height: 30vh;
  overflow: hidden;

}
.decorating-section img {
  filter: saturate(0%);
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  #main {
    margin: 30% 3vw 0 3vw;
  }

  .post {
    text-align: center;
  }

  h1 {
    font-size: 7vw;
    font-weight: bold;
  }

  /* SUBTITLE */
  h2 {
    font-size: 5vw;
    color: #101010;

  }

  .post > img {
    width: 80%;
  }

  .entry > p > img {
    width: 80%;
  }

  .post .entry {
    font-size: 1em;
    margin: 10%;
    line-height: normal;
    font-weight: normal;


  }
}
  @media screen and (min-width: 481px) and (max-width: 768px) {
    #main {
      margin: 30% 3vw 0 3vw;
    }

    h1 {
      font-size: 5vw;
      font-weight: bold;
    }

    h2 {
      font-size: 3vw;
      color: #101010;

    }

    .post .entry {
      font-size: 1em;
      line-height: normal;
      font-weight: normal;
      margin: 10%;

    }

    .post {
      text-align: center;
    }

    .post > img {
      width: 40%;
    }

    .post.entry img {
      width: 10%;
      margin-left: 1px;
    }
    .entry > p > img {
      width: 80%;
    }


  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    #main {
      margin: 30% 20% 0 10vw
    }

    h1 {
      font-size: 1.5em;
      line-height: normal;
      margin-bottom: 0;
    }

    h2 {
      font-weight: normal;
      font-size: 1.5em;
      color: #7d7d7d;
      margin-top: 0;
    }

    .post .entry {
      font-size: 4vw;
      font-weight: normal;
      line-height: normal;
    }


  }
